<div class="login">
    <div class="login__body">
        <div class="login__header">
            <div class="login__title">
                Вход
            </div>
            <div class="login__field text-field">
                {{{input-login}}}
                {{{label-login}}}
                {{{login-helper}}}
            </div>
            <div class="login__field text-field">
                {{{input-password}}}
                {{{label-password}}}
                {{{password-helper}}}
            </div>
        </div>
        <div class="login__footer">
            <div class="login__button-auth">
                {{{login-button}}}
            </div>
            <div class="login__no-account link">
                {{{link-no-account}}}
            </div>
        </div>
    </div>    
</div>