<div class="profile">
    <div class="profile__body">
        <div class="profile__left-area">
            <div class="profile__button-back">
                <button class="button">
                    B
                </button>
            </div>
        </div>
        <div class="profile__right-area right-area">
            <div class="right-area__header header-logo__img">
                <img class="header-logo__img" src={{logo}}>
            </div>
            <div class="header-logo__txt">
                {{firstName}}
            </div>
            <div class="right-area__center">
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <input class="text-field-wide__input" type="email" placeholder="Почта" value="{{email}}">
                        </input>
                        <div class="text-field-wide__label">Почта</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <input class="text-field-wide__input" type="text" placeholder="Логин" value="{{login}}">
                        </input>
                        <div class="text-field-wide__label">Логин</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <input class="text-field-wide__input" type="text" placeholder="Имя" value="{{firstName}}">
                        </input>
                        <div class="text-field-wide__label">Имя</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <input class="text-field-wide__input" type="text" placeholder="Фамилия" value="{{lastName}}">
                        </input>
                        <div class="text-field-wide__label">Фамилия</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <input class="text-field-wide__input" type="text" placeholder="Имя в чате" value="{{chatName}}">
                        </input>
                        <div class="text-field-wide__label">Имя в чате</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <input class="text-field-wide__input" type="tel" placeholder="Телефон" value="{{tel}}">
                        </input>
                        <div class="text-field-wide__label">Телефон</div>
                    </div>
                </div>
            </div>
            <div class="right-area__footer">
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <a href="/home" class="text-field-wide__link_normal">
                            Изменить данные
                        </a>
                        <div style="user-select : none">&nbsp;</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <div class="functional__small-brake">&nbsp;</div>
                        <div class="text-field-wide__dash"></div>
                        <div class="functional__small-brake">&nbsp;</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <a href="/home" class="text-field-wide__link_normal">
                            Изменить пароль
                        </a>
                        <div style="user-select : none">&nbsp;</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <div class="functional__small-brake">&nbsp;</div>
                        <div class="text-field-wide__dash"></div>
                        <div class="functional__small-brake">&nbsp;</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        <a href="/home" class="text-field-wide__link_red">
                            Выйти
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>