<div class="signin">
    <div class="signin__body">
        <div class="signin__header">
            <div class="signin__title">
                Регистрация
            </div>
            <div class="signin__field text-field">
                <input class="text-field__input" type="email" placeholder="Почта" value="{{email}}">
                </input>
                <div class="text-field__label">Почта</div>
                <div class="text-field__helper">&nbsp;</div>
            </div>
            <div class="signin__field text-field">
                <input class="text-field__input" type="text" placeholder="Логин" value="{{login}}">
                </input>
                <div class="text-field__label" >Логин</div>
                <div class="text-field__helper" >&nbsp;</div>
            </div>
            <div class="signin__field text-field">
                <input class="text-field__input" type="text" placeholder="Имя" value="{{firstName}}">
                <div class="text-field__label">Имя</div>
                <div class="text-field__helper">&nbsp;</div>
                </input>
            </div>
            <div class="signin__field text-field">
                <input class="text-field__input" type="text" placeholder="Фамилия" value="{{lastName}}">
                <div class="text-field__label">Фамилия</div>
                <div class="text-field__helper">&nbsp;</div>
                </input>
            </div>
            <div class="signin__field text-field">
                <input class="text-field__input" type="tel" placeholder="Телефон">
                <div class="text-field__label">Телефон</div>
                <div class="text-field__helper">Введите телефон</div>
                </input>
            </div>
            <div class="signin__field text-field">
                <input class="text-field__input" type="password" placeholder="Пароль">
                <div class="text-field__label">Пароль</div>
                <div class="text-field__helper">&nbsp;</div>
                </input>
            </div>
            <div class="signin__field text-field">
                <input class="text-field__input" type="password" placeholder="Пароль">
                <div class="text-field__label">Пароль еще раз</div>
                <div class="text-field__helper">&nbsp;</div>
                </input>
            </div>
        </div>
        <div class="signin__footer">
            <div class="signin__button-auth">
                <button class="butt">
                    {{regButtName}}
                </button>
            </div>
            <div class="signin__no-account link">
                <a href="./index.html">
                    Войти
                </a>
            </div>
        </div>
    </div>    
</div>
